html body {
	background-color: black;
}

.jumbotron {
	margin: auto;
	height: 100vh;
	padding: 0 20vw;
	background: url("images/mountain-watermelon-cropped.png") no-repeat center center;
	background-size: cover;
}

.shimmer1 {
	background: -webkit-linear-gradient(#040267, #41036f);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.shimmer2 {
	background: -webkit-linear-gradient(#1b148c, #5c06ab);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.card {
	height: 100vh;
	max-width: 50vw;
	min-width: 50vw;
	margin: 10rem auto;
	background-color: black;
}

.card-body {
	background-color: black;
}

.vertical-center {
	display: flex;
	align-items: center;
}
