html body {
	background-color: black;
}

.jumbotron {
	margin: auto;
	height: 100vh;
	padding: 0 20vw;
	background: url("images/mountain-watermelon-cropped.png") no-repeat center center;
	background-size: cover;
}

.shimmer1 {
	background: -webkit-linear-gradient( 5deg, #000000 , #0a07a8, #9005be);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.shimmer2 {
	background: -webkit-linear-gradient( 5deg , #00072b, #0b02c5, #fc039d);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.card {
	min-height: 100vh;
	max-width: 50vw;
	min-width: 50vw;
	margin: 10rem auto;
	background-color: black;
}

.card-body {
	background-color: black;
}

.card-body h4, p {
	color: #f09d16;
}

.vertical-center {
	display: flex;
	align-items: center;
}

html .icon {
	font-size: 3em;
	color: #f07223;
}

html .carousel {
	height: 100vh;
}

html .port {
	max-width: 40vw;
	justify-content: center;
	align-items: center;
}

html .fluid-container {
	height: 100vh;
	margin-top: 10vh;
}

html .fluid-container h3 {
	color: #f07223;
}

html .fluid-container button {
	background-color: #5f0f40;
	color: #f07223;
}

.btn:hover {
	background-color: #4e2ee0;
	box-shadow: 0px 15px 20px rgba(229, 46, 117, 0.4);
	color: #fc3506;
	transform: translateY(-7px);
}

html section {
	height: 25vh;
}