html body {
	background-color: rgba(0, 0, 0);
}

.container {
	padding: 0;
	margin: 0;
}

.container-fluid {
	padding: 0;
	margin: 0;
}

.hero2 {
	min-height: 100vh;
	min-width: 100vw;
	background-size: cover;
	background-position: center;
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/PIA17172_Saturn_eclipse_mosaic_bright_crop.jpg/1280px-PIA17172_Saturn_eclipse_mosaic_bright_crop.jpg");
}

.headline {
	font-family: 'Lato', sans-serif;
	text-shadow: 1px 1px white, -1px -1px #444444;
}

.headline h1 {
	font-weight: lighter;
	font-size: 45pt;
}